.content {
    padding-left: calc(5px + 1rem);
    padding-right: calc(5px + 1rem);
    transition: all 300ms ease;
}

@media (min-width: 1024px) {
    .dashboard-container.sidebar-shown > .content {
        margin-left: 250px;
    }
}