.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1050;
    transition: all 300ms ease;
}

.modal-inner {
    background-color: white;
    width: 100%;
    margin: auto;
}

@media (max-width: 992px) {
    .modal-inner {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .modal-inner {
        width: 450px;
    }
}